<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hash.by_lottery.dao.ExLotteryTicketDao">




	<select id="stuffInfoToExLotteryTicket" parameterType="String" resultType="ExLotteryTicket">
		select a.lot_code,draw_code,draw_issue,draw_time,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} ;
	</select>

	<select id="getNewTicketInfo" parameterType="String" resultType="ExLotteryTicket">
				select a.lot_code,draw_code,draw_issue,draw_time,a.lot_remark,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} and draw_issue = (select MAX(draw_issue) from lottery_ticket where lot_code = #{lot_code});
	</select>

	<select id="getTicketInfoList" parameterType="String" resultType="ExLotteryTicket">
		select a.lot_code,draw_code,draw_issue,draw_time,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} and LEFT(draw_time,10) = DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ORDER BY draw_time  DESC;
	</select>

	<select id="getTicketInfoList_" parameterType="String" resultType="ExLotteryTicket">
		select a.lot_code,draw_code,draw_issue,draw_time,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket_push a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} and LEFT(draw_time,10) = DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ORDER BY draw_time  DESC;
	</select>

	<select id="getTicketInfoListWithTime" parameterType="String" resultType="ExLotteryTicket">
		select a.lot_code,draw_code,draw_issue,draw_time,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} and LEFT(draw_time,10) = #{draw_time} ORDER BY draw_time  DESC;
	</select>


	<select id="getLimitTicketList"  resultType="ExLotteryTicket">
		select a.lot_code,draw_code,draw_issue,draw_time,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} and LEFT(draw_time,10) = DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ORDER BY draw_time DESC LIMIT #{limit};
	</select>

	<select id="getTicketInfoByIssue" parameterType="String" resultType="ExLotteryTicket">
				select a.lot_code,draw_code,draw_issue,draw_time,a.lot_remark,lot_name,lot_count,lot_interval,lot_type,lot_videoUrl,lot_videoImg,lot_imgUrl
		from lottery_ticket a,lottery_type b
		where a.lot_code = b.lot_code and a.lot_code = #{lot_code} and draw_issue = #{draw_issue};
	</select>




</mapper>
